.page3{
    position: relative;
    background:#BE46D8;
    background-size: cover;
    opacity: 0;
}
#page3.swiper-slide{
    -webkit-animation: slideInUp .2s both;
    animation: slideInUp .2s both;
}
@-webkit-keyframes opa{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.page3 .img{
    margin-top: .5rem;
    margin-left: .5rem;
    width: 2rem;
    height: 2rem;
    border:.1rem solid white;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 10px transparent;
}
.img {
    -webkit-animation: box-shaDow 1s both infinite;
    animation: box-shaDow 1s both infinite;
}
@-webkit-keyframes box-shaDow{
    0%{
        box-shadow: 0 0 0 10px transparent;
    }
    50%{
        border:.1rem solid transparent;
        box-shadow: 0 0 0 0 rgba(255,255,255,0.5) ;
    }
    100%{
        box-shadow: 0 0 0 10px transparent;
    }
}
.page3 .img img{
    width: 2rem;
    height: 2.5rem;
}
.page3 .page3Con1{
    position: absolute;
    width: 100%;
    line-height: .8rem;
    font-size: 0.3rem;
    text-align: center;
    -webkit-transform: rotate(-15deg);
    transform:rotate(-15deg);
}
.page3 div:nth-of-type(3)>span{
    float: left;
    display: block;
    width: 23%;
    height: 1rem;
    margin: 5% 1% 0 1%;
    padding-top: .27rem;
}
.page3 div>span:nth-child(even){
    background: #2B93D2;
    color: white;
    border-radius: 0 20px 0 20px;
    box-shadow:0 0 .5rem #2B93D2;
}
.page3 div>span:nth-child(odd){
    background: #BE46D8;
    color: white;
    border-radius: 20px 0 20px 0;
    box-shadow:0 0 .5rem #BE46D8;
}
.page3 .trans{
    position: absolute;
    left: -1rem;
    width: 150%;
    height: 1.6rem;
    background: black;
    opacity: .5;
    -webkit-transform: rotate(-15deg);
    transform:rotate(-15deg);
}
.page3 .line{
    position: absolute;
    left: 3.15rem;
    top:4.5rem;
    width: 0.05rem;
    height: 7rem;
    background: white;
}
.page3 .page3CLR{
    position: absolute;
    bottom: 0;
}
.page3 .page3ContentL{
    text-align: center;
    float: left;
    width: 49%;
    border-radius: 1rem;
}
.page3 .page3ContentL>div{
    padding: .1rem;
    font-size: .2rem;
    font-weight: 700;
    height: 2rem;
    border-radius: .3rem;
    text-align: left;
    margin-bottom: .2rem;
}
#page3 .page3ContentL>div:nth-of-type(1){
    color: white;
    background: deepskyblue;
    -webkit-animation: fadeInLeft 1s both  3s;
    animation: fadeInLeft 1s both 3s;
}
#page3 .page3ContentL>div:nth-of-type(2){
    color: white;
    background: darkorchid;
    -webkit-animation: fadeInLeft 1s both 5s;
    animation: fadeInLeft 1s both 5s;
}
.page3 .page3ContentR{
    position: relative;
    bottom: 1rem;
    text-align: center;
    float: right;
    width: 49%;
    border-radius: 1rem;
}
.page3 .page3ContentR>div{
    padding: .1rem;
    font-size: .2rem;
    font-weight: 700;
    height: 2rem;
    border-radius: .3rem;
    text-align: left;
    margin-bottom: .2rem;
}
#page3 .page3ContentR>div:nth-of-type(1){
    color: white;
    background: chartreuse;
    -webkit-animation: fadeInRight 1s both 2s;
    animation: fadeInRight 1s both 2s;
}
#page3 .page3ContentR>div:nth-of-type(2){
    color: white;
    background: #db00bc;
    -webkit-animation: fadeInRight 1s both 4s;
    animation: fadeInRight 1s both 4s;
}
/*--指向--*/
.page3 .direction{
    position: absolute;
    bottom: 0;
    left: 2.4rem;
    width: 1.5rem;
    height: 1rem;
    opacity: .5;
}
.page3 .direction>div:nth-child(1){
    position: absolute;
    top:.25rem;
    left: .25rem;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background: dodgerblue;
}
.page2 .direction>div:nth-child(2){
    position: absolute;
    top:.25rem;
    right: .25rem;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background: dodgerblue;
}
.page3 .direction>div:nth-child(4){
    position: absolute;
    top:.4rem;
    right: 0;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background: dodgerblue;
}
.page3 .direction>div:nth-child(5){
    position: absolute;
    top:.4rem;
    left: 0;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background: dodgerblue;
}
.page3 .direction>div:nth-child(6){
    position: absolute;
    left: .3rem;
    bottom: 0;
    width: 1rem;
    height: .5rem;
    background: dodgerblue;
}
.page3 .direction>div:nth-child(3){
    position: absolute;
    top:0.05rem;
    left: .4rem;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background: dodgerblue;
}
.page3 .direction>div:nth-child(7){
    position: absolute;
    left: .35rem;
    bottom: 0.2rem;
    border: .4rem solid transparent;
    border-bottom-color: white;
}
.page3 .direction>div:nth-child(8){
    position: absolute;
    left: .55rem;
    bottom: 0;
    width: .4rem;
    height: .3rem;
    background: white;
}

/*-----动画-------*/
#page3 div>span:nth-child(2) {
    box-shadow: 0 0 20px 5px white;
    -webkit-animation: bounceInLeft 1.5s both ;
    animation: bounceInLeft 1.5s both ;
}
#page3 .fadeInUp {
    -webkit-animation: fadeInUp 1.5s both infinite;
    animation: fadeInUp 1.5s both infinite;
}
#page3 .line{
    -webkit-animation: fadeInUpBig 2s both .6s;
    animation: fadeInUpBig 2s both .6s;
}
/*------动画库-------*/
@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fadeInUpBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUpBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}